
.note-item {
  position: relative;

  &__button-delete {
    @button-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: @button-size;
    height: @button-size;
    border-radius: @button-size;

    &:hover {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

  }
  &__header {
    font-weight: 400;
    font-size: 24px;
  }

  &__time {
    display: block;
    margin-top: 6px;
    color: #b1b1b1; 
  }

  &__description {
    margin-top: 8px;
  }
}