.header {
  margin-top: 100px;
}
.header__top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__search-form {
  margin-top: 30px;
}
.header__search-string {
  width: 100%;
  padding: 7px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
